__pycache__/
*.py[cod]

test.ipynb
test_infer.py
test.py
log
test/

log

data/**
experiments/**
**__pycache__/
**ipynb_checkpoints/
!.gitkeep
experiments/base_model/**
!params.json
log/**
.env/
*.ipynb
